{% extends "landing_page/base.html" %}
{% block title %} Homepage {% endblock %}

{% load static %}
{% block content %}

<header>
	<div class="inner-header page-width">
		<div class="logo">
			<h2> <div class="ngo">NGO</div> Connect</h2>
		</div>

		<nav>
			<ul class="nav-links">
				<!-- <li>
					<a href="#" class="nav-link active-nav-link">home</a>
				</li>
				
				<li>
					<a href="#" class="nav-link">About us</a>
				</li>
				
				<li>
					<a href="#" class="nav-link">Partnership</a>
				</li>
				
				<li>
					<a href="#" class="nav-link">Contact us</a>
				</li> -->
				
				<li>
					<a href="{% url 'user_auth:login' %}" class="btn btn-brand2">Sign in</a>
				</li>
				
				<li>
					<a href="register.html" class="btn btn-brand2-outline">Register</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<div class="hero">
	<img src="{% static 'assets/images/close-up-team-hand-shake.jpg' %}" alt="hero-img">
</div>


<article class="main-content page-width">
	<article class="intro">
		<div class="logo">
			<h2> <div class="ngo">NGO</div> Connect</h2>
		</div>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam et aliquam debitis sit ipsa error, pariatur ut adipisci saepe ducimus! Sapiente earum ducimus molestiae molestias id inventore eius unde. Excepturi, sunt eligendi.
		</p>
	</article>

	<div class="home-cards">
		<div class="home-card">
			<i class="bi bi-lightbulb"></i>
			<h3 class="title">Mission</h3>
			<div class="body">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam iusto quisquam quaerat veritatis consequatur doloremque sit ut minus iste. Aliquid?
			</div>
		</div>

		<div class="home-card">
			<i class="bi bi-lightbulb"></i>
			<h3 class="title">Vision</h3>
			<div class="body">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam iusto quisquam quaerat veritatis consequatur doloremque sit ut minus iste. Aliquid?
			</div>
		</div>

		<div class="home-card">
			<i class="bi bi-lightbulb"></i>
			<h3 class="title">Values</h3>
			<div class="body">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aperiam iusto quisquam quaerat veritatis consequatur doloremque sit ut minus iste. Aliquid?
			</div>
		</div>
	</div>
</article>
{% endblock %}