{% extends "landing_page/base.html" %}
{% block title %} Sign in  {% endblock %}

{% block content %}
  <section class="page-width">
    <div class="login-form">
      <form action="" method="post" class="form-width labaled-form">
        {% csrf_token %}
        {{ form.as_p }}
  
        <button type="submit" class="btn btn-brand mtb-1">Login</button>
        
        <a href="{% url 'user_auth:organization_registration' %}" class="">
          <p>
            <i class="bi bi-exclamation-circle"></i>
            Create account
          </p>
        </a>
      </form>

    </div>

  </section>
{% endblock %}