{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
</head>
<body>
  <header>
		<div class="inner-header">
			<div class="logo">
				<h2>logo</h2>
			</div>

			<nav>
				<div class="notifications">
					<div class="notification">
						<i class="bi bi-bell"></i>
					</div>
					
					<div class="messages">
						<i class="bi bi-bell"></i>
					</div>
				</div>

				<div class="nav-user">
					<img src="assets/images/blank-profile-picture-973460_1280.png" alt="profile-img">
				</div>
			</nav>
		</div>
	</header>

	<aside>
		<div class="sidebar">
			<div class="logo">
				<h2> <div class="ngo">NGO</div> Connect</h2>
			</div>
			<hr>

			<div class="side-nav">
				<ul>
					<li {% if section == 'dashboard' %}class="active-item"{% endif %}>
						<a href="{% url 'organization:dashboard' %}" class="side-item">
							<i class="bi bi-grid"></i>
							<p>Dashboard</p>
						</a>
					</li>

					<li {% if section == 'organization' %}class="active-item"{% endif %}>
						<a href="{% url 'organization:organization_list' %}" class="side-item">
							<i class="bi bi-globe2"></i>
							<p>Organizations</p>
						</a>
					</li>

					<li {% if section == 'project' %}class="active-item"{% endif %}>
						<a href="{% url 'organization:project_list' %}" class="side-item">
							<i class="bi bi-kanban"></i>
							<p>Projects</p>
						</a>
					</li>
					
					<li>
						<a href="#" class="side-item">
							<i class="bi bi-graph-up-arrow"></i>
							<p>Reports and Analytics</p>
						</a>
					</li>
					
					<!-- <li>
						<a href="finances" class="side-item">
							<i class="bi bi-cash-coin"></i>
							<p>Financial Tracking</p>
						</a>
					</li>
					
					<li>
						<a href="data-verification.html" class="side-item">
							<i class="bi bi-check-circle"></i>
							<p>Documents Repository</p>
						</a>
					</li>
					
					<li>
						<a href="data-verification.html" class="side-item">
							<i class="bi bi-check-circle"></i>
							<p>Public Feedback Portal</p>
						</a>
					</li> -->
					
					<li>
						<a href="{% url 'user_auth:logout' %}" class="side-item">
							<i class="bi bi-check-circle"></i>
							<p>Log out</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</aside>

  {% block content %}
  {% endblock %}
</body>
</html>